@model SigesaWeb.Models.DTOs.ModalConfirmacionDTO

<div class="modal fade" id="@Model.IdModal" tabindex="-1" aria-labelledby="@Model.IdModal + Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="@Model.IdModal + Label">@Model.Titulo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                @Model.Mensaje
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="@Model.IdBotonConfirmar">Confirmar</button>
            </div>
        </div>
    </div>
</div>
